body
{	
	margin: auto; 
	width: 980px;
	height: 100%;
	background-color: #406E48;
	font-family: sans-serif;
}

header
{
	color: #FFFFFF;
	background-color:#406E48;
}

nav
{
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
}

nav ul
{
	list-style:none;
	width:100%;
	padding: 0;	
}

nav li
{
	background-color: #63956C;
	display: block;
	float:left;
	width: 33.33333%;
	line-height:40px;
}

nav li:hover
{
	background-color: #68BA76
}

nav a
{
	display: block;
	text-decoration: none;
	color:#FFFFFF;
}

#selected-navbar-item
{
	background-color: #68BA76;
}

#selected-navbar-item a
{
	background-color: #68BA76;
	color: #000000;
}

article
{
	color: #FFFFFF;
}

section
{
	margin: 5px 0 5px 5px;
	padding: 10px;
	color: #000000;
	background-color: #63956C;
}

aside
{	
	color: #FFFFFF;
	background-color: #63956C;
}

footer
{
	color: #000000;
	background-color: #68BA76;
	line-height:37px;
	width: 980px;
}