body
{	
	margin: auto; 
	width: 980px;
	height: 100%;
	background-color: #e9efea;
	font-family: sans-serif;
}

header
{
	color: #333;
}

nav
{
	text-align: center;
	font-size: 16px;
	box-shadow: 0 1px 5px 2px rgba(50, 50, 50, 0.5);
}

nav ul
{
	list-style: none;
	width:100%;
	padding: 0;	
}

nav li
{
	background-color: #68BA76;
	display: block;
	float:left;
	width: 326px;
	line-height:40px;
}

nav li:hover
{
	text-decoration: underline;
}

nav a
{
	display: block;
	text-decoration: none;
	color: #FFF;
}

.active a
{
	background-color: #63956C;
}

.right-border
{
	border-right: 1px solid #FFFFFF;
}


article
{
	color: #FFFFFF;
}

section
{
	padding: 10px;
	color: #333;
	background-color: #FFFFFF;
}

.article-title h1
{
	font-size: 22px;
	line-height: 1.4;
	margin: 0;
	color: #333;
	border-bottom: 1px solid rgb(50, 50, 50);
	border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.article-subheading
{
	font-size: 18px;
	line-height: 1.4;
	margin: 0;
	color: #333;
}

.group-heading
{
	color: #333;
	margin: 0 0 4px 0;
	padding: 0 0 5px 0;
	float: right;
	width: 77%;
	border-bottom: 1px solid rgb(50, 50, 50);
	border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.group-heading h1
{
	margin: 0;
}

p
{
	line-height: 1.4;
	font-size: 14px;
}

/* The basis for the following sidebar css was found at: "http://startbootstrap.com/templates/css/simple-sidebar.css" */

.sidebar {
	color: #333;
	background-color: #FFFFFF;
	float: left;
	width: 20%;
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 1px 5px 2px rgba(50, 50, 50, 0.5);

}

.sidebar li {
	line-height: 40px;
	text-indent: 20px;
	background-color: #FFFFFF;
}

.sidebar li a {

	color: #333;
	display: block;
	text-decoration: none;
}

.sidebar li a:hover {
	color: #333;
	background-color: #68BA76;
	text-decoration: underline;
}

.sidebar-relative
{
	position: relative;
}

.sidebar-fixed
{
	position: fixed;
	top: 0;
	width: 196px;
}

footer
{
	margin-top: 10px;
	padding: 0;
	color: #FFFFFF;
	background-color: #63956C;
	line-height:40px;
	width: 980px;
	box-shadow: 0 1px 5px 2px rgba(50, 50, 50, 0.5);
}

.like-article
{
	text-align: center;
	float: right;
}

.like-article button
{
	border: none;
	border-radius: 50px;
	height: 28px;
	width: 80px;
	color: #333;
	background-color: #FFFFFF;
	box-shadow: 0 1px 5px 2px rgba(50, 50, 50, 0.5);
}

.like-article button:focus
{
	outline: 0;
	box-shadow: 0 1px 5px 2px rgba(50, 50, 50, 0.5);
}

.unlike-article
{
	text-align: center;
	float: right;
}

.unlike-article button
{
	border: none;
	border-radius: 50px;
	height: 28px;
	width: 80px;
	color: #FFF;
	background-color: #333;
	box-shadow: 0 1px 5px 2px rgba(50, 50, 50, 0.5);
}

.unlike-article button:focus
{
	outline: 0;
	box-shadow: 0 1px 5px 2px rgba(50, 50, 50, 0.5);
}